# Configuración de la Aplicación
APP_NAME="Tienda Online"
APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE="Europe/Madrid"

# Base URL
BASE_URL=http://localhost/ProyectoPHP/public

# Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=tienda
DB_PORT=3306

# Configuración de Sesión
SESSION_NAME=tienda_session
SESSION_LIFETIME=3600
