# Configuración de la Aplicación
APP_NAME="Tienda Online"
APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE="Europe/Madrid"

# Base URL
BASE_URL=http://localhost/ProyectoPHP/public

# Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=tienda
DB_PORT=3306
DB_CHARSET=utf8mb4

# Configuración de Sesión
SESSION_NAME=tienda_session
SESSION_LIFETIME=3600

# Configuración de Mailtrap
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=afd84be52a21e1
SMTP_PASS=98034000f4ede4
SMTP_FROM=no-reply@cubos3.com
SMTP_FROM_NAME="Mi Proyecto PHP"

# URL Base para el enlace de confirmación
APP_URL=http://localhost/ProyectoPHP/public