<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ProyectoPHP/
    
    # Evitar acceso directo a archivos sensibles
    RewriteRule ^vendor/ - [F,L]
    RewriteRule ^config/ - [F,L]
    RewriteRule ^src/ - [F,L]
    RewriteRule ^\.env$ - [F,L]
    
    # Redirigir todas las solicitudes a public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
