/* Estilos para usuarios autenticados */
@import "styleVariables.css";

.user-welcome {
    text-align: center;
    padding: 40px 100px;
}

.welcome-card h2 {
    margin: 0 0 15px 0;
    font-size: 3rem;
    color: var(--color-text-principal);
}

.user-email {
    margin: 20px 0;
    font-size: 16px;
    opacity: 0.95;
    color: var(--color-text-secundario);
}

.user-role {
    margin: 20px 0 20px;
    font-size: 16px;
    opacity: 0.95;
    color: var(--color-text-secundario);
}

.user-role strong {
    background: #39c7ad5f;
    padding: 4px 12px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 5px;
}

.success-message {
    background: rgba(76, 175, 80, 0.3);
    border: 2px solid rgba(76, 175, 80, 0.8);
    color: rgba(76, 175, 80, 0.8);
    padding: 18px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 14px;
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-buttons{
    white-space: nowrap;
}

.btn-productos{
    display: inline-block;
    align-self: center;
    width: fit-content;
    
}

/* Botones adicionales */
.btn-logout {
    background: #e160d893;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.3s ease;
    display: inline-block;
    align-self: center;
    width: fit-content;
    border: 1.5px solid var(--secondary-color);
}

.btn-logout:hover {
    background: var(--secondary-color);
    color: var(--fondo);
}

.btn-admin {
    background: #39c7ad87;
    color: var(--color-text-principal);
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s ease;
    display: inline-block;
    align-self: center;
    width: fit-content;
    border: 1.5px solid var(--primary-color);
}

.btn-admin:hover {
    background-color: var(--primary-color);
    color: var(--fondo);
}

.inicio-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.img-inicio-user {
    width: 30rem;
    height: auto;
}