/*@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
    min-height: 100vh;
    background-color: #222327;;
    display: flex;
    flex-direction: column;
}

.navigation {
  position: relative;
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;

}
.navigation ul {
  display: flex;
  width: 350px;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 2;
}
.navigation ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s;
  color: #222327;
}
.navigation ul li a .text {
  position: absolute;
  color: #222327;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
}

.navigation ul:hover .indicator {
  opacity: 0;
}

.indicator::before, .indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
}

.indicator {
  position: absolute;
  top: 35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #222327;
  transition: 0.5s;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

img {
    width: auto;
    height: 100px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigation ul li.active ~ .indicator {
    opacity: 1;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0); 
  background: #f44336; 
}

.navigation ul li:nth-child(2).active ~ .indicator { 
  transform: translateX(70px); 
  background: #ffa117; 
}

.navigation ul li:nth-child(3).active ~ .indicator { 
  transform: translateX(140px); 
  background: #2196f3; 
}

.navigation ul li:nth-child(4).active ~ .indicator { 
  transform: translateX(210px); 
  background: #b145e9; 
}

.navigation ul li.active a .icon {
    transform: translateY(35px);
    color: #fff;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(-15px);
}

.navigation ul li:hover ~ .indicator {
    opacity: 1 !important;
}

.navigation ul li:nth-child(1):hover ~ .indicator { 
  transform: translateX(0) !important; 
  background: #f44336 !important; 
}

.navigation ul li:nth-child(2):hover ~ .indicator { 
  transform: translateX(70px) !important; 
  background: #ffa117 !important; 
}

.navigation ul li:nth-child(3):hover ~ .indicator { 
  transform: translateX(140px) !important; 
  background: #2196f3 !important; 
}

.navigation ul li:nth-child(4):hover ~ .indicator { 
  transform: translateX(210px) !important; 
  background: #b145e9 !important; 
}

.navigation ul li:hover a .icon {
    transform: translateY(35px);
    color: #fff;
}

.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(-15px);
}

/* --- RESET AL HACER HOVER EN EL MENÚ --- */

/* Cuando el mouse entra en el UL, el que estaba 'active' sube a su posición inicial 
   A MENOS que el mouse esté justo encima de él */
.navigation ul:hover li.active:not(:hover) a .icon {
    transform: translateY(0);
    color: #222327;
}

.navigation ul:hover li.active:not(:hover) a .text {
    opacity: 0;
    transform: translateY(-20px);
}