@import "styleVariables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: var(--fondo-header);
  padding: 1.25rem 5% 0.6rem 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.95rem;
  font-size: 1.1rem;
  border-top: 0.25rem solid var(--tertiary-color);
  border-image: linear-gradient(
      to right,
      transparent,
      var(--fondo-header),
      transparent
    )
    1;
  color: var(--fondo);
  flex-wrap: wrap;
}

.img-footer {
  display: block;
  width: 10rem;
  height: auto;
}

.div-p-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.ul-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

footer a {
  color: var(--fondo);
  text-decoration: none;
}

.p-redes {
  color: var(--fondo);
  margin-bottom: 0.6rem;
}

.icon {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.icon a {
  transition: transform 0.3s ease;
  display: inline-block;
}

.icon a:hover {
  transform: scale(1.2);
  color: var(--color-text-secundario);
}

.copy {
  width: 100%;
  text-align: center;
  margin-top: 0;
  font-size: 0.8rem;
  color: var(--color-text-secundario);
  padding-top: 0.95rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .div-p-img {
    align-items: flex-start;
    text-align: left;
  }

  .ul-footer {
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5rem;
  }

  .ul-footer li:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
