/*@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
    margin: 0; /* Importante quitar el margen por defecto */
    min-height: 100vh;
    background-color: #222327;;
    /* Flexbox */
    display: flex;
    flex-direction: column; /* Para que los elementos se apilen verticalmente */
}

.navigation {
  position: relative;
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;

}
.navigation ul {
  display: flex;
  width: 350px;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 2;
}
.navigation ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s;
  color: #222327;
}
.navigation ul li a .text {
  position: absolute;
  color: #222327;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
}
.navigation ul li a:hover .icon {
  color: #0000FF;
}
.navigation ul li.active a .icon {
  transform: translateY(45px);
  color: #fff;
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(-10px);
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * (1 - 1)));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * (2 - 1)));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * (3 - 1)));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * (4 - 1)));
}

.navigation.active-clicked .indicator {
  opacity: 1;
}

.indicator {
  position: absolute;
  top: 65%;
  width: 70px;
  height: 70px;
  background: #29fd53;
  border-radius: 50%;
  border: 6px solid #222327;
  transition: 0.5s;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
.indicator::before, .indicator::after {
  content: "";
  position: absolute;
  top: 65%;
  width: 20px;
  height: 20px;
  background: transparent;
}
.indicator::before {
  left: -22px;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 #222327;
}
.indicator::after {
  right: -22px;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 #222327;
}

img {
    width: auto;
    height: 100px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}