@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
:root{
    --primary-color: #04BF9D;
    --secondary-color: #F2AEEE;
    --tertiary-color: #BF6060;
    --quaternary-color: #D9B036;
    --quinary-color: #6D4F8C;
    --fondo: #ACF2E5;
    --color-text-principal: #01402E;
    --color-text-secundario: #21A668;
}